.main_tabs_view,
.sub_tab_div {
    padding: 14px 34px 0px 34px;
}

.div_for_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 34px;
    flex-wrap: wrap;
}

.card {
    min-width: 330px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #d1d5d8;
    overflow: hidden;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.content {
    padding: 15px 22px;
}

.main_div_hading_report {
    color: #000000;
    font-family: "Noto Sans";
    font-size: 20px;
    font-weight: 600;
}

.report_descriptive {
    font-size: 14px;
}

.companyname_for_expirydate {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
}






.styles_for_manage_icon {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #4b5563;
    display: flex !important;
    align-items: center;
    gap: 8px;
}

.manageSection {
    border-top: 1px solid #d1d5d8ed;
    padding: 16px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

.Main_div_for_package_page {
    display: flex;
}

.manage_main_div {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 7px;
}

.amountoffer {
    color: var(--primar_colours_dark_green);
    padding-top: 22px;
}

.discount_title_div {
    border: 1px solid var(--border_colours_light_border);
    padding: 6px 12px;
    border-radius: 20px;
}

.Discounts_Offers_main_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 14px;
}

.model_body {
    background-color: var(--font_colours_white) !important;
}

.red {
    border: 1px solid var(--alerts_error_text) !important;
    background-color: var(--errorbg) !important;
}

.red input {
    border: var(--alerts_error_text) !important;
    background-color: var(--errorbg) !important;
    color: var(--alerts_error_text);
}

.red input::placeholder {
    color: var(--alerts_error_text) !important;
    opacity: 1;
}

.red input:-ms-input-placeholder {
    color: var(--alerts_error_text) !important;
}

.red input::-ms-input-placeholder {
    color: var(--alerts_error_text) !important;
}

.red input+svg,
.red svg {
    fill: var(--alerts_error_text) !important;
    stroke: var(--alerts_error_text) !important;
}

@media (max-width: 1700px) {
    .div_for_cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1200px) {
    .div_for_cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 776px) {
    .div_for_cards {
        display: flex;
    }

    .card {
        min-width: 100%;
    }

    .title {
        font-size: 18px;
    }

    .oldPrice,
    .sessionsnumber,
    .number,
    .doctortitle,
    .doctorName {
        font-size: 14px;
    }

    .newPrice {
        font-size: 16px;
    }
}